* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  height: 100%;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: #bebcba;
 }
 
 button {
     color: rgb(255, 255, 255);
     font-weight: bold;
     font-size: 0.8rem;
     cursor: pointer;
     padding: 10px;
     background:  #512f1f;
     border-radius: 0.6rem ;
     border: none;
     margin-right: 15px;
     justify-content: space-between;
 }
 
 button:hover {
     color: white;
     background: rgba(80, 54, 46, 0.81);
 }     


