.agendamento-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.388);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 40px;
}

.agendamento-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}

.agendamento-input,
.agendamento-select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;

}

.agendamento-button {
    background: #ffbb13;
    margin-left: 20px;
    width: 250px;
}

.agendamento-button:hover {
    background-color: rgba(80, 54, 46, 0.81);
}

label {
    color: rgb(255, 255, 255);
}

.agendamento-checkboxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: flex-start;
}

.agendamento-checkboxes label {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 30%;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .agendamento-form {
        padding: 15px;
        width: 90%;
    }

    .agendamento-title {
        font-size: 1.5rem;
    }
}

.pA {
    color: #ffffff;
}