#root {
    margin: 0;
    padding: 0;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.containerF {
    width: 450px;
    background: rgba(0, 0, 0, 0.337);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 40px;
    justify-content: center;
    margin-top: 70px;
  }

  .calendario {
    color: #fff;
    width: 350px;
    height: 100px;
  }

  .buttonF {
    margin-left: 140px;
    background: #ffbb13;
  }

  .buttonF:hover {
    background: #ffbb13;
      background: rgba(80, 54, 46, 0.81);
  }
  
  .hF {
    color: #fff;
    padding: 15px;
  }
  
  .check {
    color: #54c926;
  }
  